*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: url(Images/Background.png)no-repeat center center/cover;
    color:white;
}
h2{
    font-size: 125px;
    font-family: "Lato";
    font-weight: 300;
}
h1{
    font-size: 165px;
    font-family: "Montserrat";
}
p{
    font-size: 83px;
    font-family: "Lato";
}